h2 {
	font-style: italic;
	font-size: 200%;
	color: #FF66FF;
}

.navbar-brand {
	height: 30px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: 30px
}

.form-control {
	height: 40px;
	padding: 6px 50px;
}

body {
	margin-right: 40px;
	margin-left: 40px
}

h3,.categorie {
	color: #9944C0
}

.ueberschrift {
	color: #9944C0
}

.img-responsive {
	width: 250px;
}
.hintergrund {
/* 	background-image: url("bild.jpg"); */
	background-image: url("public/images/Torte_002.jpg");
/* 	background-image: url(@routes.Assets.at("images/sweet_hearts.jpg")); */
}