@(status: Int)
@main("SweetShop") {

   <!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sweet Shop</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainStyleSheet.css")">

<!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
<script src="bootstrap.min.js"></script>
<script type=text/javascript" src="@routes.Assets.at("javascripts/javascript.js")"></script>
 
     <style type="text/css">
        .next { position: absolute; top: 0; left: 0; opacity: 0; filter:alpha(opacity=0); }
        #meinFader { position: relative; }
    </style>

</head>
<body>

	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<a class="navbar-brand" href="@routes.Application.index"><h2>Sweet
					Shop</h2></a>
		</div>
		<div class="col-xs-6 col-sm-4">
			
		</div>
		<!-- Optional: Setze die Floats der XS-Spalten zurück, falls ihr Inhalt nicht gleich hoch ist -->
<!-- 		<div class="clearfix visible-xs-block"></div> -->
		<div class="col-xs-6 col-sm-4">
			<ul class="nav navbar-nav navbar-right">
				@if(status==1){
				<li><form action="/Abmeldung"><button class="btn btn-default">Abmelden</button></form></li>
				} else {
				
				<li><form action="@routes.Application.Anmeldung"><button class="btn btn-default">Anmelden</button></form></li>
				}
				<li><form action="@routes.Application.Warenkorb">
						<button class="btn btn-default">Warenkorb</button>
					</form></li>

			</ul>
		</div>
	</div>



	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="page-header">
				<h2 class="ueberschrift">Kategorien</h2>
			</div>

			<ul>
				<li><h3>
						<a class="categorie" href="@routes.Application.Kategorie_Torten">Torten</a>
					</h3></li>
				<li><h3>
						<a class="categorie" href="@routes.Application.Kategorie_Pralinen">Pralinen</a>
					</h3></li>
			</ul>

		</div>

	<div class="col-xs-12 col-sm-6 col-md-8"> 

				
							
		
<script language="JavaScript">
var i = 0;
var path = new Array();
 
// LIST OF IMAGES
path[0] = "@routes.Assets.at("images/Torte_001.jpg")";
path[1] = "@routes.Assets.at("images/Praline_001.jpg")";
path[2] = "@routes.Assets.at("images/Torte_002.jpg")";
path[3] = "@routes.Assets.at("images/Praline_002.jpg")";
path[4] = "@routes.Assets.at("images/Torte_003.jpg")";
path[5] = "@routes.Assets.at("images/Praline_003.jpg")";
path[6] = "@routes.Assets.at("images/Torte_004.jpg")";
path[7] = "@routes.Assets.at("images/Praline_004.jpg")";
path[8] = "@routes.Assets.at("images/Torte_005.jpg")";
path[9] = "@routes.Assets.at("images/Praline_005.jpg")";

function swapImage()
{
   document.slide.src = path[i];
   if(i < path.length - 1) i++; else i = 0;
   setTimeout("swapImage()",2000);
}
window.onload=swapImage;
</script>
<img class="img-rounded" alt="Responsives Bild" height="400" name="slide" src="image_1.gif" width="450" />
		

		</div>
	</div>


<footer class="footer">
        <div class="row">
            <div class="panel-footer">
                <a class="blind" href="/">
                    <img src="@routes.Assets.at("/images/sweet_hearts.jpg")" alt="SweetShop" width="150" height="60" class="logo">
                </a>
                (c) SweetShop K&K
            </div>
        </div>
</footer>
	
</body>
</html>

}
