@(torten: Collection[Torte], status: Int) @main("Torten"){
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sweet Shop</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainStyleSheet.css")">

<!-- <script language="JavaScript" type="text/javascript"
	src="ajax_search.js"></script> -->

<script type="text/javascript">

function uebergabe(cake) {
	var ware = cake.cells[0].innerHTML;
	var preis = cake.cells[3].innerHTML;

	Check(ware,preis);
	}
	function Check(wareF,preisF) {
	 var requestObjT = new XMLHttpRequest();
	 requestObjT.open("GET", "submit?ware="+wareF+"&preis="+preisF, true);
	 requestObjT.send(); 
	} 



</script>

</head>
<body>

	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<a class="navbar-brand" href="@routes.Application.index"><h2>Sweet
					Shop</h2></a>
		</div>
		<div class="col-xs-6 col-sm-4">
			
		</div>
		<!-- Optional: Setze die Floats der XS-Spalten zurück, falls ihr Inhalt nicht gleich hoch ist -->
		<div class="clearfix visible-xs-block"></div>
		<div class="col-xs-6 col-sm-4">
			<ul class="nav navbar-nav navbar-right">
				@if(status==1){
				<li><form action="/Abmeldung"><button>Abmelden</button></form></li>
					} else {
					
					<li><form action="@routes.Application.Anmeldung">
						<button>Anmelden</button>
					</form></li>
					}
				<li>
					<form action="@routes.Application.Warenkorb">
						<button>Warenkorb</button>
					</form>
				</li>
			</ul>
		</div>
	</div>



	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="page-header">
				<h2 class="ueberschrift">Kategorien</h2>
			</div>

			<ul>
				<li><h3>
						<a class="categorie" href="@routes.Application.Kategorie_Torten">Torten</a>
					</h3>
				<li><h3>
						<a class="categorie" href="@routes.Application.Kategorie_Pralinen">Pralinen</a>
					</h3></li>
				
			</ul>

		</div>


		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="panel panel-default">
			@if(status==0){
		

<!-- <marquee scrollamount="3" scrolldelay="5">
  <h2>Bitte melden Sie sich an, wenn Sie etwas bestellen wollen!</h2>
</marquee> -->
			<h2>Bitte melden Sie sich an, wenn Sie etwas bestellen wollen!</h2>
			
			}
				<div class="panel-heading">
					<h3 class="panel-title">Torten</h3>
				</div>

				@if(status==0){
				<table class="table">
					<tr>
						<th>Produktname</th>
						<th>Produktbild</th>
						<th>Lagerbestand</th>
						<th>Preis in Euro</th>
						<th></th>
					</tr>
					@for(torte <- torten) {

					<tr id="Cake@torte.getProdukt_id">	
						<td id="ware@torte.getProdukt_id">@torte.produkt_name</td>
						<td><img class="img-responsive" alt="Responsives Bild" src="@torte.bild"></td>
						<td id="bestand">@torte.bestand</td>
						<td id="preis@torte.getProdukt_id">@torte.preis</td>
					</tr>
					}
					<tr>
					</tr>
				</table>
				} else {
				<table class="table">
					<tr>
						<th>Produktname</th>
						<th>Produktbild</th>
						<th>Lagerbestand</th>
						<th>Preis in Euro</th>
						<th></th>
					</tr>
					@for(torte <- torten) {

					<tr id="Cake@torte.getProdukt_id">	
						<td id="ware@torte.getProdukt_id">@torte.produkt_name</td>
						<td><img class="img-responsive" alt="Responsives Bild" src="@torte.bild"></td>
						<td id="bestand">@torte.bestand</td>
						<td id="preis@torte.getProdukt_id">@torte.preis</td>
						<td><form  onsubmit="uebergabe(Cake@torte.getProdukt_id);" action="@routes.Application.Warenkorb">
								<button type="submit">In
									den Warenkorb</button>
							</form></td>
					</tr>
					}
					<tr>
					</tr>
				</table>
				}
				
			</div>
		</div>
	</div>

	<footer class="footer">
<!-- 		<div class="container"> -->
			<div class="row">
				<div class="panel-footer">
                <a class="blind" href="/">
                    <img src="@routes.Assets.at("/images/sweet_hearts.jpg")" alt="SweetShop" width="150" height="60" class="logo">
                </a>
                (c) SweetShop K&K
				</div>
			</div>
<!-- 		</div> -->
	</footer>

	<!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
	<script src="bootstrap.min.js"></script>


</body>
</html>
}
