@(pralinen: Collection[Praline], status: Int) @main("Pralinen"){
<!DOCTYPE html>
<html lang="de">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweet Shop</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainStyleSheet.css")">

<script type="text/javascript">

function uebergabe(chocolate) {
	var ware = chocolate.cells[0].innerHTML;
	var preis = chocolate.cells[3].innerHTML;

	Check(ware,preis);
	}
	function Check(wareF,preisF) {
	 var requestObjT = new XMLHttpRequest();
	 requestObjT.open("GET", "submit?ware="+wareF+"&preis="+preisF, true);
	 requestObjT.send(); 
	} 

</script>

 
  </head>
  <body>
  
  <div class="row">
  <div class="col-xs-6 col-sm-4"> <a class="navbar-brand" href="@routes.Application.index"><h2>Sweet Shop</h2></a></div>
  <div class="col-xs-6 col-sm-4"></div>
  <!-- Optional: Setze die Floats der XS-Spalten zurück, falls ihr Inhalt nicht gleich hoch ist -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"><ul class="nav navbar-nav navbar-right">
				<ul class="nav navbar-nav navbar-right">
				@if(status==1){
				<li><form action="/Abmeldung"><button>Abmelden</button></form></li>
					} else {
					
					<li><form action="@routes.Application.Anmeldung">
						<button>Anmelden</button>
					</form></li>
					}
				<li>
					<form action="@routes.Application.Warenkorb">
						<button>Warenkorb</button>
					</form>
				</li>
			</ul></div>
</div>
  
  

<div class="row">
  <div class="col-xs-6 col-md-4"><div class="page-header">
  <h2 class="ueberschrift">Kategorien</h2>
</div>  

<ul>
			<li><h3><a class="categorie" href="@routes.Application.Kategorie_Torten">Torten</a></h3></li>
			<li><h3><a class="categorie" href="@routes.Application.Kategorie_Pralinen">Pralinen</a></h3>
<!-- 							<ul> -->
<!-- 					<li><h4>Milchschokolade</h4></li> -->
<!-- 					<li><h4>Bitterschokolade</h4></li> -->
<!-- 					<li><h4>Weiße Schokolade</h4></li> -->
<!-- 				</ul> -->
				</li>
			
</ul>  


</div>


  <div class="col-xs-12 col-sm-6 col-md-8">
  	<div class="panel panel-default">
  		<div class="panel-heading">
   			 <h3 class="panel-title">Pralinen</h3>
 		</div>
 		<table class="table">
					<tr>
						<th>Produktname</th>
						<!-- 						<th>Produktbeschreibung</th> -->
						<th>Produktbild</th>
						<th>Lagerbestand</th>
						<th>Preis in Euro</th>
						<th></th>
					</tr>
					@for(praline <- pralinen) {
					<tr id=Chocolate@praline.getProdukt_id>	
						<td id="ware@praline.getProdukt_id">@praline.produkt_name</td>
						<td><img class="img-responsive" alt="Responsives Bild" src="@praline.bild"></td>
						<td id="bestand">@praline.bestand</td>
						<td id="preis@praline.getProdukt_id">@praline.preis</td>
						<td><form onsubmit="uebergabe(Chocolate@praline.getProdukt_id);" action="@routes.Application.Warenkorb">
								<button type="submit">In
									den Warenkorb</button>
							</form></td>
					</tr>
					}
					<tr>
					</tr>
				</table>

  
  </div>
</div>
</div>
<footer class="footer">
<!--     <div class="container"> -->
        <div class="row">
            <div class="panel-footer">
                <a class="blind" href="/">
                    <img src="@routes.Assets.at("/images/sweet_hearts.jpg")" alt="SweetShop" width="150" height="60" class="logo">
                </a>
                (c) SweetShop K&K
            </div>
        </div>
    </div>
</footer>

    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap.min.js"></script>
  </body>
</html>
}