@(allePLZ: String) 
@main("Registrierung"){
<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweet Shop</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainStyleSheet.css")">


<script type="text/javascript">

function test() {
	var g = document.getElementById("eingabe").value;
	Check(g);
	}
	
var postalcodes; 
function Check(g) {
	 var requestObj = new XMLHttpRequest();
	 requestObj.onreadystatechange = function() {
		 if (requestObj.readyState == 4 && requestObj.status == 200){
		 document.getElementById("stelle").innerHTML = requestObj.responseText; 
		 document.getElementById('stelle').style.visibility = 'visible';
	// 	  $("#stelle").append(requestObj.responseText); 
	
		 // save place array in 'postalcodes' to make it accessible from mouse event handlers
		 
		 postalcodes = eingabe.postalcodes;
		    	
		  if (postalcodes.length > 1) {
		    // we got several places for the postalcode
		    // make suggest box visible
		    document.getElementById('stelle').style.visibility = 'visible';
		    var suggestBoxHTML  = '';
		    // iterate over places and build suggest box content
		    for (i=0;i< eingabe.postalcodes.length;i++) {
		      // for every postalcode record we create a html div 
		      // each div gets an id using the array index for later retrieval 
		      // define mouse event handlers to highlight places on mouseover
		      // and to select a place on click
		      // all events receive the postalcode array index as input parameter
		      suggestBoxHTML += "<div class='suggestions' id=pcId" + i + " onmousedown='suggestBoxMouseDown(" + i +")' onmouseover='suggestBoxMouseOver(" +  i +")' onmouseout='suggestBoxMouseOut(" + i +")'> " +'</div>';
		    }
		    // display suggest box
		    document.getElementById('suggestBoxElement').innerHTML = suggestBoxHTML;
		  } 
	
	 	} 
	 }
	 requestObj.open("GET", "CheckPLZ?eingabe="+g, true);
	 requestObj.send();

	} 	

function abc(name){
	console.log("ERREICHT ABC");
	console.log(name);
	var x= document.getElementById("name").value;
	$("#eingabe").html(x); 
}

function closeSuggestBox() {
	  document.getElementById('suggestBoxElement').innerHTML = '';
	  document.getElementById('suggestBoxElement').style.visibility = 'hidden';
	}


	// remove highlight on mouse out event
	function suggestBoxMouseOut(obj) {
	  document.getElementById('pcId'+ obj).className = 'suggestions';
	}

	// the user has selected a place name from the suggest box
	function suggestBoxMouseDown(obj) {
	  closeSuggestBox();
	  var placeInput = document.getElementById("placeInput");
	  placeInput.value = postalcodes[obj].placeName;
	}

	// function to highlight places on mouse over event
	function suggestBoxMouseOver(obj) {
	  document.getElementById('pcId'+ obj).className = 'suggestionMouseOver';
	}

</script>

 
  </head>
  <body>
  
  <div class="row">
  <div class="col-xs-6 col-sm-4"> <a class="navbar-brand" href="@routes.Application.index"><h2>Sweet Shop</h2></a></div>
  <div class="col-xs-6 col-sm-4"></div>
  <!-- Optional: Setze die Floats der XS-Spalten zurück, falls ihr Inhalt nicht gleich hoch ist -->
<!--   <div class="clearfix visible-xs-block"></div> -->
  <div class="col-xs-6 col-sm-4"><ul class="nav navbar-nav navbar-right">
      </ul></div>
</div>
  
  

<div class="row">
  <div class="col-xs-6 col-md-4"><div class="page-header">
</div>  

</div>
					
  <div class="col-xs-12 col-sm-6 col-md-8">
 

<form role="form" method="POST" action="RegistrierungP">
 <h4>Registrierung</h4>
  <div class="form-group">
    <label for="beispielVorname">Vorname</label>
    <input type="text" name="vorname" class="form-control" id="beispielVorname" placeholder="Vorname">
  </div>
  <div class="form-group">
    <label for="beispielNachname">Nachname</label>
    <input type="text" name="nachname" class="form-control" id="beispielNachname" placeholder="Nachname">
  </div>
  <div class="form-group">
    <label for="beispielStrasseUndHN">Strasse und Hausnummer</label>
    <input type="text" name="adresse" class="form-control" id="beispielStrasseUndHN" placeholder="Strasse und Hausnummer">
  </div>
  <div class="form-group">
    <label for="beispielPLZ">PLZ</label>
    <input type="text" name="plz" class="form-control" id="eingabe" placeholder="PLZ" onkeyup="test()">
 	<div id = "stelle" style="visibility: hidden; z-index:2;"></div>
  </div>
  
  <div class="form-group">
    <label for="beispielEmail">E-Mail</label>
    <input type="email" name="email" class="form-control" id="beispielEmail" placeholder="E-Mail">
  </div>
  <div class="form-group">
    <label for="beispielPasswort">Passwort</label>
    <input type="password" name="passwort" class="form-control" id="beispielPasswort" placeholder="Passwort">
  </div>
  
  
  <button type="submit" class="btn btn-default">Registrieren</button>
</form>



  </div>
</div>


<footer class="footer">
        <div class="row">
            <div class="panel-footer">
                <a class="blind" href="/">
                    <img src="@routes.Assets.at("/images/sweet_hearts.jpg")" alt="SweetShop" width="150" height="60" class="logo">
                </a>
                (c) SweetShop K&K
            </div>
        </div>
</footer>


    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap.min.js"></script>
  </body>
</html>
}