@(allePLZ: String) 
@import helper._
@main("Registrierung"){
<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweet Shop</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainStyleSheet.css")">


<script type="text/javascript">

function test() {
	var g = document.getElementById("eingabe").value;
	Check(g);
	}
	function Check(g) {
	 var requestObj = new XMLHttpRequest();
	 requestObj.onreadystatechange = function() {
	 if (requestObj.readyState == 4 && requestObj.status == 200){
	 /* document.getElementById("stelle").innerHTML = requestObj.responseText; */
	 $("#stelle").append(requestObj.responseText);
	 	} 
	 }
	 requestObj.open("GET", "CheckPLZ?eingabe="+g, true);
	 requestObj.send();
	} 

function abc(name){
	console.log("ERREICHT ABC");
	console.log(name);
	var x= document.getElementById("name").value;
	$("#eingabe").html(x);
}

</script>

 
  </head>
  <body>
  
  <div class="row">
  <div class="col-xs-6 col-sm-4"> <a class="navbar-brand" href="@routes.Application.index"><h2>Sweet Shop</h2></a></div>
  <div class="col-xs-6 col-sm-4"></div>
  <!-- Optional: Setze die Floats der XS-Spalten zurück, falls ihr Inhalt nicht gleich hoch ist -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"><ul class="nav navbar-nav navbar-right">
      </ul></div>
</div>
  
  

<div class="row">
  <div class="col-xs-6 col-md-4"><div class="page-header">
</div>  
<form role="form">
 <h4>Anmeldung</h4>
<div class="form-group">
  <label for="beispielFeldEmail1">Email-Adresse</label>
  <input type="email" class="form-control" id="beispielFeldEmail1" placeholder="Email-Adresse">
  </div>
  <div class="form-group">
  <label for="beispielFeldPasswort1">Passwort</label>
  <input type="email" class="form-control" id="beispielFeldPasswort1" placeholder="Passwort">
  </div>
  <button type="submit" class="btn btn-default">Anmelden</button>
  </form>
</form>




</div>
					
  <div class="col-xs-12 col-sm-6 col-md-8">
 

<form role="form">
 <h4>Registrierung</h4>
  <div class="form-group">
    <label for="beispielVorname">Vorname</label>
    <input type="text" class="form-control" id="beispielVorname" placeholder="Vorname">
  </div>
  <div class="form-group">
    <label for="beispielNachname">Nachname</label>
    <input type="text" class="form-control" id="beispielNachname" placeholder="Nachname">
  </div>
  <div class="form-group">
    <label for="beispielStrasseUndHN">Strasse und Hausnummer</label>
    <input type="text" class="form-control" id="beispielStrasseUndHN" placeholder="Strasse und Hausnummer">
  </div>
  <div class="form-group">
    <label for="beispielPLZ">PLZ</label>
    <input type="text" class="form-control" id="eingabe" placeholder="PLZ" onkeyup="test()">
  </div>
 <div id = "stelle"></div> 
  <div class="form-group">
    <label for="beispielEmail">E-Mail</label>
    <input type="email" class="form-control" id="beispielEmail" placeholder="E-Mail">
  </div>
  <div class="form-group">
    <label for="beispielPasswort">Passwort</label>
    <input type="password" class="form-control" id="beispielPasswort" placeholder="Passwort">
  </div>
  <div class="form-group">
    <label for="beispielPasswortWDH">Passwort wiederholen</label>
    <input type="password" class="form-control" id="beispielPasswortWDH" placeholder="Passwort wiederholen">
  </div>
  
  <button type="submit" class="btn btn-default">Registrieren</button>
</form>



  </div>
</div>


<div class="panel-footer">Über Uns!</div>


    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap.min.js"></script>
  </body>
</html>
}