@(listensize: Int, warenkoerbe: Collection[WarenkorbM], status: Int)
@main("Warenkorb"){

<!DOCTYPE html>
<html>
	 <head>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="0.001; URL=http://localhost:9000/Warenkorb?" />  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweet Shop</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainStyleSheet.css")">


 
  </head>
  <body>
  
  <div class="row">
  <div class="col-xs-6 col-sm-4"> <a class="navbar-brand" href="@routes.Application.index"><h2>Sweet Shop</h2></a></div>
  <div class="col-xs-6 col-sm-4"><form class="navbar-form navbar-left" role="search"></div>
  <!-- Optional: Setze die Floats der XS-Spalten zurück, falls ihr Inhalt nicht gleich hoch ist -->
  <div class="clearfix visible-xs-block"></div>
<!--   <div class="clearfix visible-xs-block"></div> -->
		<div class="col-xs-6 col-sm-4">
			<ul class="nav navbar-nav navbar-right">
				@if(status==1){
				<li><form action="/Abmeldung"><button class="btn btn-default">Abmelden</button></form></li>
					} else {
					
					<li><form action="@routes.Application.Anmeldung">
						<button class="btn btn-default">Anmelden</button>
					</form></li>
					}
			</ul>
		</div>
	</div>
  
  

<div class="row">
  <div class="col-xs-6 col-md-4"><div class="page-header">
  <h2 class="ueberschrift">Warenkorb</h2>
</div>  

</div>

  <div class="col-xs-12 col-sm-6 col-md-8">
  
  <table class="table table-striped">
  <tr>
    <th>Ware</th>
    <th>Preis</th>
  </tr>
  @for(warenkorb <- warenkoerbe) {
  <tr>
    <td>@warenkorb.ware</td>
    <td>@warenkorb.preis</td>
  </tr>
  } 
</table>


<form action="@routes.Application.index"><button>weiter Einkaufen</button></form>
@if(listensize>0){		
<form action="/Bestellung"><button>Bestellen</button></form>
}
  </div>
</div>

    <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
    <script src="bootstrap.min.js"></script>
    
    <footer class="footer">
<!--     <div class="container"> -->
        <div class="row">
            <div class="panel-footer">
                <a class="blind" href="/">
                    <img src="@routes.Assets.at("/images/sweet_hearts.jpg")" alt="SweetShop" width="150" height="60" class="logo">
                </a>
                (c) SweetShop K&K
            </div>
        </div>
    </div>
</footer>
  </body>
</html>
}